/* Kontejner pro celý carousel */
.carouselContainer {
    width: 100%;
    max-width: 100%;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
  }
  
  /* Styl obrázků ve slideru */
  .kontejnerImage {
    width: 30%; /* Na menších zařízeních bude obrázek zabírat 30% šířky */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  /* Skrytí šipek ve slideru */
  .slick-prev, .slick-next {
    display: block !important;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  
  /* Animace pro plynulý přechod mezi snímky */
  .slick-track {
    display: flex;
    align-items: center;
  }
  
  /* Umožní, že se obrázky budou zobrazovat v horizontální řadě */
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .carouselText {
    text-align: center; /* Přizpůsobení textu na střed */
    font-size: 1.2rem; /* Velikost písma (můžeš přizpůsobit podle potřeby) */
    line-height: 1.5;
    text-transform: uppercase;
    color: rgb(10, 187, 25); /* Barva textu */
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black; /* Pravidelný černý obrys textu */
    padding: 20px;
  }
  
  /* Media query pro větší obrazovky (od 768px) */
  @media (max-width: 768px) {
    .kontejnerImage {
      width: 80%; /* Na větších zařízeních bude obrázek zabírat 80% šířky */
    }
  }
  