.emptySection {
    height: 150px; /* Zajištění mezery nahoře */
    background-color: transparent;
  }
  
  /* Kontejner pro obrázky */
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Obrázek */
  .image {
    width: 100%; /* Obrázek zabere celou šířku rodičovského kontejneru */
    height: auto;
    max-width: 100%;
  }
  
  /* Sekce */
  .obecSection {
    padding-top: 150px;
    margin-top: -150px;
    text-align: center;
  }
  
  /* Nadpisy a text */
  .obecSection h2 {
    color: #007f73;
    font-size: 2rem;
  }
  
  .obecSection p {
    font-size: 1.2rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Responzivní úpravy pro menší obrazovky */
  @media (max-width: 768px) {
    .emptySection {
      height: 100px;
    }  
    .obecSection h2 {
      font-size: 1.8rem;
    }
  
    .obecSection p {
      font-size: 1rem;
    }
  }
  